.cooking-club-preview {
    background-color: $light-gray;
    border-radius: $global-radius;
    overflow: hidden;

    .cooking-club-image {
        background: url(assets/img/gina_lioti_cooking_club.jpg) center right;
        background-size: cover;
        min-height: 30vh;

        @include breakpoint(medium up) {
            min-height: 40vh;
        }
    }

    .cooking-club-copy {
        padding: $global-padding;

        @include breakpoint(large up) {
        }
    }
}

.cooking-club-preview-mini {
    padding: $global-margin/2 0;
    border-bottom: 1px solid $light-gray;

    form {
        .form-fields {
            display: flex;

            .columns {
                flex: none;

                &:first-child {
                    flex: 1;
                }

                .form-label {
                    display: none;
                }

                input[type="email"] {
                    margin: 0 map-get($map: $grid-column-gutter, $key: medium)/4 0 0;
                    line-height: rem-calc(44);
                    height: rem-calc(44);
                }

                input[type="submit"] {
                    margin: 0 0 0 map-get($map: $grid-column-gutter, $key: medium)/4;
                    padding: 0 map-get($grid-column-gutter, medium)/2;
                    line-height: rem-calc(44);
                }
            }
        }
    }
}

.cooking-club {
    background-color: $black;
    min-height: 100vh;
    color: white;
}