.cooking-club-preview {
    background-color: $light-gray;
    border-radius: $global-radius;
    overflow: hidden;

    .cooking-club-image {
        background: url(assets/img/gina_lioti_cooking_club.jpg) center right;
        background-size: cover;
        min-height: 30vh;

        @include breakpoint(medium up) {
            min-height: 40vh;
        }
    }

    .cooking-club-copy {
        padding: $global-padding;

        @include breakpoint(large up) {
        }
    }
}

.cooking-club-preview-mini {
    background-color: $brand-color;
    color: $white;
    padding: $global-margin/2 0;

    .input-group {
        margin-bottom: 0;

        input {
            max-width: none !important;
        }
    }
}

.cooking-club {
    background-color: $black;
    min-height: 100vh;
    color: white;
}