body {
    counter-reset: item;

    // Typography
    font-kerning: normal;
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";

    &:not(.home) {
        & > main {
            @include breakpoint(large up) {
                margin-top: $global-margin * 2;
            }
        }
    }

    &.home {
        header {
            background-color: white;
        }
    }

    & > main {
        & > * {
            margin: 0 auto;

            &:not(.expanded) { max-width: $global-width; }
            &.expanded { max-width: $max-width; }
        }

        & > section {
            margin-bottom: $section-margin-bottom;

            &.section--mini { margin-bottom: $section-margin-bottom/2; }
            &.section--with-separator { border-bottom: 1px solid $medium-gray; }
            &.section--meta {
                border-bottom: 1px solid $medium-gray;

                .row {
                    margin-bottom: -1px;
                }
            }
        }
    }
}

button,
.button {
    font-weight: 700;

    &.secondary {
        color: get-color(primary);
        background-color: $light-gray;

        &:hover {
            background-color: get-color(primary);
            color: $white;
        }
    }
}

h1 {
    font-weight: 900;
}

.expanded {
    justify-content: center;
}

.input-group-field {
    width: 100%;
}