// Foundation shortcuts
// =============================================================================






// App variables
// =============================================================================

    $max-width: rem-calc(1920);
    $section-margin-bottom: rem-calc(100);
    $brand-color: get-color(primary);
    $global-weight-bolder: 900;